{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <h1>Oops, Page not found!</h1>
        <center><img src="../../static/404.png" alt="404.png"></center>
        <p>“PAGE NOT FOUND” — is probably the most annoying thing to look at, on a screen. This is a page nobody wants to land into. For the longest time this page echoed the words ‘disappointment’ and had always been notoriously referred to as the ‘last page of the internet’.
            The idea of 404 came about from, you guessed it, a room numbered 404 that housed the web’s very first servers at CERN.</p>
    </div>
{% endblock %}