<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <p>
        {% if name %}
        Hi, {{name}}. 
        Thanks for filling in your name!
        {% else %}
        Please enter your name!
        {% endif %}
    </p>

    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.name.label }}: {{ form.name }}
        {{ form.submit() }}
    </form>
</body>
</html>